/* @import url('https: //fonts.googleapis.com/css?family=Bungee Shade'); */

.event-row-scroll {
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: scroll !important;
    overflow-y: hidden;
    word-wrap: break-word;
    text-align: center;
}

.home-page-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bolder;
    /* font-family: 'Bungee Shade'; */
}

.home-description-text {
    margin-left: 20px;
    margin-bottom: 20px;
}

.home-section-title{
    font-size: x-large;
    font-weight: 700;
    margin-left: 20px;
}


.home-content {
    
}

/* Stats */
.home-stats {
    border-color: #ffe138;
    border-radius: 40px;
    border-style: solid;
    border-width: thin;
    padding: 20px;
    align-items: center;
}

.stats-num {
    font-size: xx-large;
    font-weight: 900;
    color: #ffe138;
}

/* .stats-col {
    border-right-style: solid;
    border-right-color: #fff8d3;
    border-right-width: 1px;
    border-left: 4px;
    align-items: center;
} */

/* Event */
.home-event-title{
    font-size: large;
    min-height: max-content;
}

.home-event-img{
    height: 200px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.event-card-content {
     /* display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100% !important;
     margin: 0 !important; */
     align-items: center;
     border-color: #3880ff;
     border-radius: 40px;
     border-style: solid;
     border-width: thin;
     padding-top: 20px;
     padding-left: 15px;
     padding-right: 15px;
     min-height: 450px;
     min-width: 280px;
 }

.event-card-item {
    /* margin: 12px; */
}

.event-description-text {
    /* margin-left: 30px;
    text-align: left; */
}